html,body{
  height: auto;
}

#is {
    min-width: 250px;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: auto;
}

#btn {
  color: white;
}
/* Login*/
.conteiner-login {
    width: 67%;
    margin: auto;
}
.col-md-8.btns {
    width: 100%;
}
#inicio .panel-heading {
    background-color: #c5911f;
    font-weight: bold;
}
/* */

#error {
  width: 70%;
  position:relative;
  left: 15%;
}

.form-group.solicitud {
    width: 75%;
    margin: auto;
    padding: 15px 0px 15px 0px;
}
.btn-derecha {
    margin-left: 35%;
}
#num_cuenta {
    width: 30%;
    padding: 2px 12px;
    min-width: 116px;
}
.ubicacion {
    border: solid 1px;
}
/* #general{
  width: 30%;
  position:relative;
  left: 10%;
} */
