html {
    margin: 0;
}
body {
    width: 21.9cm !important;
    height: 34.34cm !important;
    margin: 0 auto;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-family: Arial;
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    width: 100%;
    display: block;
    clear: both;
    /* border: solid 1px red; */
    display: none;
}
main {
    width: 21.9cm !important;
    /* border: solid 1px; */
    display: block;
}
.vale {
    height: 3.2cm;
    padding: 0.3cm 0.5cm;
    display: block;
    border: solid 1px;
    font-size: 1.1em;
    font-weight: bold;
}
.linea
{
    clear: both;
    height: 0.1px;
}
.left{
    float: left;
    width : 6.26cm;
    height: 11.1cm;
    border: solid 1px black;
    display : inline-block;
}
.center{
    float: left;
    width : 6.26cm;
    height: 11.1cm;
    border: solid 1px black;
    display : inline-block;
    /* margin-left: 0.5cm; */
    /* padding-left: 0.5cm; */
}
.right{
    float: right;
    width : 6.26cm;
    height: 11.1cm;
    border: solid 1px black;
}
p {
    margin: 0;
    padding: 0;
}
.test {
    width: 10.3cm;
    position: relative;
    color: silver;
    font-size: 3.2em;
    opacity: 0.5;
    top: 4cm;
    left: -2cm;
    transform: rotate(-60deg);
}
.num_cta {
    width: 10cm;
    position: relative;
    left: -5.2cm;
    top: 2cm;
    transform: rotate(-90deg);
    font-size: 1.6em;
}
.left .num_cta {
    /* color:red; */
    left: -5.3cm;
}
.right .num_cta {
    /* color:red; */
    left: -4.9cm;
}
.nombre {
    width: 10cm;
    position: relative;
    left: -4.8cm;
    top: 1.55cm;
    transform: rotate(-90deg);
    font-size: 1.2em;
}
.left .nombre {
    /* color:blue; */
    left: -4.9cm;
}
.right .nombre {
    /* color:blue; */
    left: -4.5cm;
}
.oficina {
    width: 10cm;
    position: relative;
    left: -2.9cm;
    top: 2.5cm;
    font-size: 1.1em;
    transform: rotate(-90deg);
}
.left .oficina {
    /* color:green; */
    left: -3.2cm;
}
.fecha {
    width: 10cm;
    display: inline-block;
    position: relative;
    height: 3.7cm;
    font-size: 1.3em;
    margin-top: 0.5cm;
    /* margin-right: -2cm; */
    transform: rotate(-90deg);
}
.fecha p {
    width: 20%;
    display: inherit;
    /* border:solid 1px black; */
    text-align: center;
}
.fecha .mes{
    /* color:red; */
    width: 4cm;
}
footer{
    /* width: 100%;
    display: block;
    height: 100px; */
}
